## Ashley Mersman
02/10/2023

Import sqlite3

In [1]:
import sqlite3
import pandas as pd

In [2]:
# Create connection to database
connection = sqlite3.connect('books.db')

In [3]:
# Set max columns to 10
pd.options.display.max_columns = 10

In [4]:
# Select everything from titles table
pd.read_sql('SELECT * FROM authors', connection)

DatabaseError: Execution failed on sql 'SELECT * FROM authors': no such table: authors